* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.block, .home .window .window-content .window-note .note, .home .window .window-content .window-kanban .kanban > div, .home .window .window-content .window-task .task, .home .window .window-content .window-project .project, .home .window, .home .navigation, .auth .form {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.page {
  padding: 10px;
  min-height: 100vh;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.auth .form {
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.auth .form .form-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.auth .form button {
  flex: 1;
}

.home {
  --navigation-size: 270px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.home .navigation {
  flex: 1 1 var(--navigation-size);
  max-width: var(--navigation-size);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  overflow: auto;
  max-height: calc(100vh - 20px);
}
.home .navigation .block, .home .navigation .window .window-content .window-note .note, .home .window .window-content .window-note .navigation .note, .home .navigation .window .window-content .window-kanban .kanban > div, .home .window .window-content .window-kanban .navigation .kanban > div, .home .navigation .window .window-content .window-task .task, .home .window .window-content .window-task .navigation .task, .home .navigation .window .window-content .window-project .project, .home .window .window-content .window-project .navigation .project, .home .navigation .window, .home .navigation .auth .form, .auth .home .navigation .form, .home .navigation .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}
.home .navigation .block:has(.block-content .block-label), .home .navigation .window .window-content .window-note .note:has(.block-content .block-label), .home .window .window-content .window-note .navigation .note:has(.block-content .block-label), .home .navigation .window .window-content .window-kanban .kanban > div:has(.block-content .block-label), .home .window .window-content .window-kanban .navigation .kanban > div:has(.block-content .block-label), .home .navigation .window .window-content .window-task .task:has(.block-content .block-label), .home .window .window-content .window-task .navigation .task:has(.block-content .block-label), .home .navigation .window .window-content .window-project .project:has(.block-content .block-label), .home .window .window-content .window-project .navigation .project:has(.block-content .block-label), .home .navigation .window:has(.block-content .block-label), .home .navigation .auth .form:has(.block-content .block-label), .auth .home .navigation .form:has(.block-content .block-label), .home .navigation .navigation:has(.block-content .block-label) {
  padding-top: 20px;
}
.home .navigation .block div.block-content .block-label, .home .window .window-content .window-note .navigation .note div.block-content .block-label, .home .window .window-content .window-kanban .navigation .kanban > div div.block-content .block-label, .home .window .window-content .window-task .navigation .task div.block-content .block-label, .home .window .window-content .window-project .navigation .project div.block-content .block-label, .home .navigation .window div.block-content .block-label, .home .navigation .auth .form div.block-content .block-label, .auth .home .navigation .form div.block-content .block-label, .home .navigation .navigation div.block-content .block-label {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: #777;
}
.home .navigation .block .block-action button, .home .navigation .window .window-content .window-note .note .block-action button, .home .window .window-content .window-note .navigation .note .block-action button, .home .navigation .window .window-content .window-kanban .kanban > div .block-action button, .home .window .window-content .window-kanban .navigation .kanban > div .block-action button, .home .navigation .window .window-content .window-task .task .block-action button, .home .window .window-content .window-task .navigation .task .block-action button, .home .navigation .window .window-content .window-project .project .block-action button, .home .window .window-content .window-project .navigation .project .block-action button, .home .navigation .window .block-action button, .home .navigation .auth .form .block-action button, .auth .home .navigation .form .block-action button, .home .navigation .navigation .block-action button {
  width: 100%;
}
.home .window {
  flex: 1 1 calc(100% - var(--navigation-size) - 10px);
  max-width: calc(100% - var(--navigation-size) - 10px);
  overflow: auto;
  max-height: calc(100vh - 20px);
}
.home .window .window-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.home .window .window-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.home .window .window-content:has(.window-kanban) {
  max-width: 100%;
}
.home .window .window-content .window-project .project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eee;
}
.home .window .window-content .window-project .project.active {
  background: #fff;
}
.home .window .window-content .window-project .project .project-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .window .window-content .window-project .project .project-info .project-name {
  font-weight: bold;
}
.home .window .window-content .window-project .project .project-info .project-description {
  font-size: 12px;
  color: #777;
}
.home .window .window-content .window-project .project .project-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-project-edit .form-floating {
  width: 100%;
}
.home .window .window-content .window-task .task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .window .window-content .window-task .task.todo {
  background: #faa;
}
.home .window .window-content .window-task .task.in-progress {
  background: #ffa;
}
.home .window .window-content .window-task .task.done {
  background: #afa;
}
.home .window .window-content .window-task .task .task-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .window .window-content .window-task .task .task-info .task-name {
  font-weight: bold;
}
.home .window .window-content .window-task .task .task-info .task-description {
  font-size: 12px;
  color: #777;
}
.home .window .window-content .window-task .task .task-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-task-edit .form-floating {
  width: 100%;
}
.home .window .window-content .window-kanban .kanban {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.home .window .window-content .window-kanban .kanban > div {
  flex: 0 0 32%;
  max-width: 32%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.home .window .window-content .window-kanban .kanban > div h4 {
  text-align: center;
}
.home .window .window-content .window-kanban .kanban > div .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .window .window-content .window-kanban .kanban > div .task .task-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .window .window-content .window-kanban .kanban > div .task .task-info .task-name {
  font-weight: bold;
}
.home .window .window-content .window-kanban .kanban > div .task .task-info .task-description {
  font-size: 12px;
  color: #777;
}
.home .window .window-content .window-kanban .kanban > div .task .task-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-kanban .kanban .kanban-todo {
  background: #faa;
}
.home .window .window-content .window-kanban .kanban .kanban-in-progress {
  background: #ffa;
}
.home .window .window-content .window-kanban .kanban .kanban-done {
  background: #afa;
}
.home .window .window-content .window-note .note {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .window .window-content .window-note .note .note-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .window .window-content .window-note .note .note-info .note-title {
  font-weight: bold;
}
.home .window .window-content .window-note .note .note-info .note-description {
  font-size: 12px;
  color: #777;
}
.home .window .window-content .window-note .note .note-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-note-edit .form-floating {
  width: 100%;
}
.home .window .window-content .window-note-view > div:hover {
  background: #eee;
}
.home .window .window-content .window-note-view > div:hover.note-view-text code {
  background: #eee;
}
.home .window .window-content .window-note-view .note-view-image {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .window .window-content .window-note-view .note-view-image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .window .window-content .window-note-view .note-view-text {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=index.css.map */