* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.block {
  padding: 10px;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.page {
  padding: 10px;
  min-height: 100vh;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-x: auto;

  .form {
    @extend .block;

    min-width: 300px;
    max-width: 800px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;

    .form-buttons {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    button {
      flex: 1;
    }
  }
}

.home {
  --navigation-size: 270px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .navigation {
    @extend .block;

    flex: 1 1 var(--navigation-size);
    max-width: var(--navigation-size);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    overflow: auto;
    max-height: calc(100vh - 20px);

    .block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      position: relative;

      &:has(.block-content .block-label) {
        padding-top: 20px;
      }

      div.block-content {
        .block-label {
          position: absolute;
          top: 5px;
          left: 10px;

          font-size: 12px;
          color: #777;
        }
      }

      .block-action {
        button {
          width: 100%;
        }
      }
    }
  }

  .window {
    @extend .block;

    flex: 1 1 calc(100% - var(--navigation-size) - 10px);
    max-width: calc(100% - var(--navigation-size) - 10px);

    overflow: auto;
    max-height: calc(100vh - 20px);

    .window-content {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

      &:has(.window-kanban) {
        max-width: 100%;
      }

      .window-project {
        .project {
          @extend .block;

          width: 100%;

          display: flex;
          align-items: center;
          justify-content: space-between;

          background: #eee;

          &.active {
            background: #fff;
          }

          .project-info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .project-name {
              font-weight: bold;
            }

            .project-description {
              font-size: 12px;
              color: #777;
            }
          }

          .project-actions {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }

      .window-project-edit {
        .form-floating {
          width: 100%;
        }
      }

      .window-task {
        .task {
          @extend .block;

          width: 100%;

          display: flex;
          align-items: center;
          justify-content: space-between;

          &.todo {
            background: #faa;
          }

          &.in-progress {
            background: #ffa;
          }

          &.done {
            background: #afa;
          }

          .task-info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .task-name {
              font-weight: bold;
            }

            .task-description {
              font-size: 12px;
              color: #777;
            }
          }

          .task-actions {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }

      .window-task-edit {
        .form-floating {
          width: 100%;
        }
      }

      .window-kanban {
        .kanban {
          width: 100%;

          display: flex;
          align-items: stretch;
          justify-content: space-between;

          & > div {
            flex: 0 0 32%;
            max-width: 32%;

            @extend .block;

            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 10px;

            h4 {
              text-align: center;
            }

            .task {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .task-info {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .task-name {
                  font-weight: bold;
                }

                .task-description {
                  font-size: 12px;
                  color: #777;
                }
              }

              .task-actions {
                display: flex;
                align-items: center;
                gap: 10px;
              }
            }
          }

          .kanban-todo {
            background: #faa;
          }

          .kanban-in-progress {
            background: #ffa;
          }

          .kanban-done {
            background: #afa;
          }
        }
      }

      .window-project-user {
        .project-user {
          @extend .block;

          width: 100%;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .project-user-info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .project-user-name {
              font-weight: bold;
            }

            .project-user-description {
              font-size: 12px;
              color: #777;
            }
          }

          .project-user-actions {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }

      .window-project-user-edit {
        .form-floating {
          width: 100%;
        }
      }

      .window-note {
        .note {
          @extend .block;

          width: 100%;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .note-info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .note-title {
              font-weight: bold;
            }

            .note-description {
              font-size: 12px;
              color: #777;
            }
          }

          .note-actions {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }

      .window-note-edit {
        .form-floating {
          width: 100%;
        }
      }

      .window-note-view {
        & > div {
          &:hover {
            background: #eee;

            &.note-view-text {
              code {
                background: #eee;
              }
            }
          }
        }

        .note-view-image {
          padding-top: 40px;
          padding-bottom: 40px;

          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100%;
            object-fit: cover;
          }
        }

        .note-view-text {
          width: 100%;
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    }
  }
}
