* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.block, .home .window .window-content .window-note .note, .home .window .window-content .window-project-user .project-user, .home .window .window-content .window-kanban .kanban > div, .home .window .window-content .window-task .task, .home .window .window-content .window-project .project, .home .window, .home .navigation, .auth .form {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.page {
  padding: 10px;
  min-height: 100dvh;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.auth .form {
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.auth .form .form-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.auth .form button {
  flex: 1;
}

.home {
  --navigation-size: 270px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.home .navigation {
  flex: 1 1 var(--navigation-size);
  max-width: var(--navigation-size);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  overflow: auto;
  max-height: calc(100vh - 20px);
}
.home .navigation .block, .home .navigation .window .window-content .window-note .note, .home .window .window-content .window-note .navigation .note, .home .navigation .window .window-content .window-project-user .project-user, .home .window .window-content .window-project-user .navigation .project-user, .home .navigation .window .window-content .window-kanban .kanban > div, .home .window .window-content .window-kanban .navigation .kanban > div, .home .navigation .window .window-content .window-task .task, .home .window .window-content .window-task .navigation .task, .home .navigation .window .window-content .window-project .project, .home .window .window-content .window-project .navigation .project, .home .navigation .window, .home .navigation .auth .form, .auth .home .navigation .form, .home .navigation .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}
.home .navigation .block:has(.block-content .block-label), .home .navigation .window .window-content .window-note .note:has(.block-content .block-label), .home .window .window-content .window-note .navigation .note:has(.block-content .block-label), .home .navigation .window .window-content .window-project-user .project-user:has(.block-content .block-label), .home .window .window-content .window-project-user .navigation .project-user:has(.block-content .block-label), .home .navigation .window .window-content .window-kanban .kanban > div:has(.block-content .block-label), .home .window .window-content .window-kanban .navigation .kanban > div:has(.block-content .block-label), .home .navigation .window .window-content .window-task .task:has(.block-content .block-label), .home .window .window-content .window-task .navigation .task:has(.block-content .block-label), .home .navigation .window .window-content .window-project .project:has(.block-content .block-label), .home .window .window-content .window-project .navigation .project:has(.block-content .block-label), .home .navigation .window:has(.block-content .block-label), .home .navigation .auth .form:has(.block-content .block-label), .auth .home .navigation .form:has(.block-content .block-label), .home .navigation .navigation:has(.block-content .block-label) {
  padding-top: 20px;
}
.home .navigation .block div.block-content .block-label, .home .window .window-content .window-note .navigation .note div.block-content .block-label, .home .window .window-content .window-project-user .navigation .project-user div.block-content .block-label, .home .window .window-content .window-kanban .navigation .kanban > div div.block-content .block-label, .home .window .window-content .window-task .navigation .task div.block-content .block-label, .home .window .window-content .window-project .navigation .project div.block-content .block-label, .home .navigation .window div.block-content .block-label, .home .navigation .auth .form div.block-content .block-label, .auth .home .navigation .form div.block-content .block-label, .home .navigation .navigation div.block-content .block-label {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: #777;
}
.home .navigation .block .block-action .btn, .home .window .window-content .window-note .navigation .note .block-action .btn, .home .window .window-content .window-project-user .navigation .project-user .block-action .btn, .home .navigation .window .window-content .window-kanban .kanban > div .block-action .btn, .home .window .window-content .window-kanban .navigation .kanban > div .block-action .btn, .home .window .window-content .window-task .navigation .task .block-action .btn, .home .window .window-content .window-project .navigation .project .block-action .btn, .home .navigation .window .block-action .btn, .home .navigation .auth .form .block-action .btn, .auth .home .navigation .form .block-action .btn, .home .navigation .navigation .block-action .btn {
  width: 100%;
}
.home .navigation .block .block-action .btn:has(img), .home .window .window-content .window-note .navigation .note .block-action .btn:has(img), .home .window .window-content .window-project-user .navigation .project-user .block-action .btn:has(img), .home .window .window-content .window-kanban .navigation .kanban > div .block-action .btn:has(img), .home .window .window-content .window-task .navigation .task .block-action .btn:has(img), .home .window .window-content .window-project .navigation .project .block-action .btn:has(img), .home .navigation .window .block-action .btn:has(img), .home .navigation .auth .form .block-action .btn:has(img), .auth .home .navigation .form .block-action .btn:has(img), .home .navigation .navigation .block-action .btn:has(img) {
  padding: 7px;
}
.home .navigation .block .block-action .btn:has(img) img, .home .window .window-content .window-note .navigation .note .block-action .btn:has(img) img, .home .window .window-content .window-project-user .navigation .project-user .block-action .btn:has(img) img, .home .window .window-content .window-kanban .navigation .kanban > div .block-action .btn:has(img) img, .home .window .window-content .window-task .navigation .task .block-action .btn:has(img) img, .home .window .window-content .window-project .navigation .project .block-action .btn:has(img) img, .home .navigation .window .block-action .btn:has(img) img, .home .navigation .auth .form .block-action .btn:has(img) img, .auth .home .navigation .form .block-action .btn:has(img) img, .home .navigation .navigation .block-action .btn:has(img) img {
  width: 24px;
  height: 24px;
}
.home .window {
  flex: 1 1 calc(100% - var(--navigation-size) - 10px);
  max-width: calc(100% - var(--navigation-size) - 10px);
  overflow: auto;
  max-height: calc(100vh - 20px);
}
.home .window .window-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.home .window .window-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.home .window .window-content:has(.window-kanban) {
  max-width: 100%;
}
.home .window .window-content .window-project .project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #eee;
  overflow-x: auto;
}
.home .window .window-content .window-project .project.active {
  background: #fff;
}
.home .window .window-content .window-project .project .project-info {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .window .window-content .window-project .project .project-info .project-name {
  font-weight: bold;
}
.home .window .window-content .window-project .project .project-info .project-description {
  font-size: 12px;
  color: #777;
}
.home .window .window-content .window-project .project .project-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-project .project .project-actions .btn {
  padding: 7px;
}
.home .window .window-content .window-project .project .project-actions .btn img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-project-edit .form-floating {
  width: 100%;
}
.home .window .window-content .window-project-edit .btn:has(img) {
  padding: 7px;
}
.home .window .window-content .window-project-edit .btn:has(img) img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-task .task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
}
.home .window .window-content .window-task .task.todo {
  background: #faa;
}
.home .window .window-content .window-task .task.in-progress {
  background: #ffa;
}
.home .window .window-content .window-task .task.done {
  background: #afa;
}
.home .window .window-content .window-task .task .task-info {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .window .window-content .window-task .task .task-info .task-name {
  font-weight: bold;
}
.home .window .window-content .window-task .task .task-info .task-description {
  font-size: 12px;
  color: #777;
}
.home .window .window-content .window-task .task .task-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-task .task .task-actions .btn {
  padding: 7px;
}
.home .window .window-content .window-task .task .task-actions .btn img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-task-edit .form-floating {
  width: 100%;
}
.home .window .window-content .window-task-edit .btn:has(img) {
  padding: 7px;
}
.home .window .window-content .window-task-edit .btn:has(img) img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-kanban .kanban {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.home .window .window-content .window-kanban .kanban > div {
  flex: 1 1 32%;
  max-width: 32%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  overflow-x: auto;
}
.home .window .window-content .window-kanban .kanban > div h4 {
  text-align: center;
}
.home .window .window-content .window-kanban .kanban > div .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.home .window .window-content .window-kanban .kanban > div .task .task-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .window .window-content .window-kanban .kanban > div .task .task-info .task-name {
  font-weight: bold;
}
.home .window .window-content .window-kanban .kanban > div .task .task-info .task-description {
  font-size: 12px;
  color: #777;
}
.home .window .window-content .window-kanban .kanban > div .task .task-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-kanban .kanban > div .task .task-actions .btn {
  padding: 7px;
}
.home .window .window-content .window-kanban .kanban > div .task .task-actions .btn img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-kanban .kanban .kanban-todo {
  background: #faa;
}
.home .window .window-content .window-kanban .kanban .kanban-in-progress {
  background: #ffa;
}
.home .window .window-content .window-kanban .kanban .kanban-done {
  background: #afa;
}
.home .window .window-content .window-project-user .project-user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
}
.home .window .window-content .window-project-user .project-user .project-user-info {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .window .window-content .window-project-user .project-user .project-user-info .project-user-name {
  font-weight: bold;
}
.home .window .window-content .window-project-user .project-user .project-user-info .project-user-description {
  font-size: 12px;
  color: #777;
}
.home .window .window-content .window-project-user .project-user .project-user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-project-user .project-user .project-user-actions .btn {
  padding: 7px;
}
.home .window .window-content .window-project-user .project-user .project-user-actions .btn img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-project-user-edit .form-floating {
  width: 100%;
}
.home .window .window-content .window-project-user-edit .btn:has(img) {
  padding: 7px;
}
.home .window .window-content .window-project-user-edit .btn:has(img) img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-note .note {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
}
.home .window .window-content .window-note .note .note-info {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .window .window-content .window-note .note .note-info .note-title {
  font-weight: bold;
}
.home .window .window-content .window-note .note .note-info .note-description {
  font-size: 12px;
  color: #777;
}
.home .window .window-content .window-note .note .note-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-note .note .note-actions .btn {
  padding: 7px;
}
.home .window .window-content .window-note .note .note-actions .btn img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-note-edit .form-floating {
  width: 100%;
}
.home .window .window-content .window-note-edit .btn:has(img) {
  padding: 7px;
}
.home .window .window-content .window-note-edit .btn:has(img) img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-note-view .create-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home .window .window-content .window-note-view > div:not(:first-of-type):not(:last-of-type) {
  position: relative;
}
.home .window .window-content .window-note-view > div:not(:first-of-type):not(:last-of-type):hover {
  background: #eee;
}
.home .window .window-content .window-note-view > div:not(:first-of-type):not(:last-of-type):hover.note-view-text code {
  background: #eee;
}
.home .window .window-content .window-note-view > div:not(:first-of-type):not(:last-of-type):hover .note-block-edit {
  display: flex;
}
.home .window .window-content .window-note-view > div:not(:first-of-type):not(:last-of-type) .note-block-edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
}
.home .window .window-content .window-note-view > div:not(:first-of-type):not(:last-of-type) .note-block-edit .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.home .window .window-content .window-note-view > div:not(:first-of-type):not(:last-of-type) .note-block-edit .buttons .btn {
  padding: 7px;
}
.home .window .window-content .window-note-view > div:not(:first-of-type):not(:last-of-type) .note-block-edit .buttons .btn img {
  width: 24px;
  height: 24px;
}
.home .window .window-content .window-note-view .note-view-image {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .window .window-content .window-note-view .note-view-image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .window .window-content .window-note-view .note-view-text {
  width: 100%;
  padding-top: 40px;
}

@media (max-width: 1200px) {
  .home .window .window-content .window-kanban .kanban {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .home .window .window-content .window-kanban .kanban > div {
    flex: 1 1 48%;
    max-width: 48%;
  }
}
@media (max-width: 991px) {
  .home .window .window-content .window-kanban .kanban {
    flex-direction: column;
  }
  .home .window .window-content .window-kanban .kanban > div {
    max-height: 300px;
    overflow-y: auto;
    flex: none;
    max-width: none;
  }
}
@media (max-width: 768px) {
  .home {
    --navigation-size: 90px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
  .home .navigation {
    flex: none;
    max-width: none;
    max-height: none;
    height: var(--navigation-size);
    flex-direction: row;
    order: 2;
  }
  .home .navigation .block, .home .navigation .auth .form, .auth .home .navigation .form, .home .navigation .navigation, .home .navigation .window, .home .navigation .window .window-content .window-project .project, .home .window .window-content .window-project .navigation .project, .home .navigation .window .window-content .window-task .task, .home .window .window-content .window-task .navigation .task, .home .navigation .window .window-content .window-kanban .kanban > div, .home .window .window-content .window-kanban .navigation .kanban > div, .home .navigation .window .window-content .window-project-user .project-user, .home .window .window-content .window-project-user .navigation .project-user, .home .navigation .window .window-content .window-note .note, .home .window .window-content .window-note .navigation .note {
    min-width: 200px;
  }
  .home .window {
    max-width: none;
    max-height: calc(100dvh - var(--navigation-size) - 30px);
  }
  .home .window .window-content .window-note-view > div:not(:first-of-type):not(:last-of-type) .note-block-edit {
    display: flex;
  }
}/*# sourceMappingURL=index.css.map */